{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\register.css' %}">
</head>

<div class="register-container">
    <div class="register-box">
        <h2 class="register-title">Register</h2>

        <form method="post" class="register-form">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            
            <br>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.city.label_tag }}
                {{ form.city }}
                {% if form.city.errors %}
                    {% for error in form.city.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.bio.label_tag }}
                {{ form.bio }}
                {% if form.bio.errors %}
                    {% for error in form.bio.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.postal_code.label_tag }}
                {{ form.postal_code }}
                {% if form.postal_code.errors %}
                    {% for error in form.postal_code.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <button type="submit" class="register-button">Register</button>
        </form>

        <div class="links">
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
