{% extends 'base.html' %}
{% load static %}
{% load dict_filter %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Profile - Foodbook{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/friend_profile.css' %}"> -->
    <script src="{% static 'js/like-dislike.js' %}" defer></script>
    <script src="{% static 'js/bookmark.js' %}" defer></script>
    <!-- <script src="{% static 'js/dine_buddy.js' %}" defer></script> -->
    <script src="{% static 'js/ajax.js' %}" defer></script>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/dine_buddy.css' %}"> -->
</head>

<div class="profile-container">
    <div class="profile-header">
        <h2>Profile</h2>
        <button id="editButton">Edit</button>
    </div>
    <div class="profile-content">
        <img src="{% if user.profile_pic %}{{ user.profile_pic.url }}
                {% else %}{% static 'images/default_user.png' %}{% endif %}" alt="User Avatar" class="profile-avatar">
        <form id="profileForm" class="profile-form" action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" disabled>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" disabled>
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" value="{{ user.city|default:'None' }}" disabled>
            </div>
            <div class="form-group">
                <label for="bio">Bio:</label>
                <textarea name="bio" id="bio" rows="3" disabled>{{ user.bio|default:"No bio available" }}</textarea>
            </div>
            <div id="editButtons" class="edit-buttons" style="display: none;">
                <button type="submit" id="saveButton">Save</button>
                <button type="button" id="cancelButton">Cancel</button>
            </div>
        </form>
    </div>

</div>
<div class="restaurant-wrapper">
    <h2>Liked Restaurants</h2>
    <div class="horizontal-scroll">
        <section class="cards">
            {% if liked_restaurants %}
                {% for restaurant in liked_restaurants %}
                    <div class="restaurant-card">
                        <div class="restaurant-details">
                            <h4><b>{{ restaurant.name }}</b></h4>
                            <p>Liked by {{ restaurant.get_total_likes }} users.</p>
                        
                            <!-- Restaurant Image -->
                            {% if restaurant.get_img_urls_list %}
                                <img src="{{ restaurant.get_img_urls_list.0 }}" alt="{{ restaurant.name }}" class="restaurant-img">
                            {% else %}
                                <img src="{% static 'images/default_restaurant.png' %}" alt="restaurant-img">
                            {% endif %}

                            <div class="restaurant-interactions">
                        
                            <div class="grouped-features">
                                <!-- Like Button -->
                                <button type="button" 
                                class="like-button" 
                                data-id="{{ restaurant.RId }}"
                                data-status="{% if interaction_status|get_item:restaurant.RId == True %}liked{% endif %}">
                                    <img src="{% static 'images/thumbs-up.png' %}" alt="Thumbs Up Icon">
                                </button>
    
                                <!-- Dislike Button -->
                                <button type="button" 
                                class="dislike-button" 
                                data-id="{{ restaurant.RId }}"
                                data-status="{% if interaction_status|get_item:restaurant.RId == False %}disliked{% endif %}">
                                    <img src="{% static 'images/thumbs-down.png' %}" alt="Thumbs Down Icon">
                                </button>                 
                            </div>
                            <div class="grouped-features">
                                <!-- Save Button -->
                                <button 
                                type="button" 
                                class="bookmark-button" 
                                data-id="{{ restaurant.RId }}">
                                    <img src="{% static 'images/bookmark.png' %}" alt="Bookmark Icon" class="bookmark">
                                </button>
                                <!-- Dine Buddy Button -->
                                <button type="button" class="dine-buddy-button" data-id="{{ restaurant.RId }}" data-name="{{ restaurant.name }}">
                                    <img src="{% static 'images/dine-buddy-icon.png' %}" alt="Dine Buddy Icon">
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No liked restaurants to display.</p>
            {% endif %}
        
        </section>
    </div>
</div>

<!-- Disliked Restaurants -->
<div class="restaurant-wrapper">
    <h2>Disliked Restaurants</h2>
    <div class="horizontal-scroll">
        <section class="cards">
            {% if disliked_restaurants %}
                {% for restaurant in disliked_restaurants %}
                    <div class="restaurant-card">
                        <div class="restaurant-details">
                            <h4><b>{{ restaurant.name }}</b></h4>
                            <p>Liked by {{ restaurant.get_total_likes }} users.</p>
                        
                            <!-- Restaurant Image -->
                            {% if restaurant.get_img_urls_list %}
                                <img src="{{ restaurant.get_img_urls_list.0 }}" alt="{{ restaurant.name }}" class="restaurant-img">
                            {% else %}
                                <img src="{% static 'images/default_restaurant.png' %}" alt="restaurant-img">
                            {% endif %}

                            <div class="restaurant-interactions">
                        
                            <div class="grouped-features">
                                <!-- Like Button -->
                                <button type="button" 
                                class="like-button" 
                                data-id="{{ restaurant.RId }}"
                                data-status="{% if interaction_status|get_item:restaurant.RId == True %}liked{% endif %}">
                                    <img src="{% static 'images/thumbs-up.png' %}" alt="Thumbs Up Icon">
                                </button>
    
                                <!-- Dislike Button -->
                                <button type="button" 
                                class="dislike-button" 
                                data-id="{{ restaurant.RId }}"
                                data-status="{% if interaction_status|get_item:restaurant.RId == False %}disliked{% endif %}">
                                    <img src="{% static 'images/thumbs-down.png' %}" alt="Thumbs Down Icon">
                                </button>                 
                            </div>
                            <div class="grouped-features">
                                <!-- Save Button -->
                                <button type="button" class="bookmark-button" data-id="{{ restaurant.RId }}">
                                    <img src="{% static 'images/bookmark.png' %}" alt="Bookmark Icon" class="bookmark">
                                </button>
                                <!-- Dine Buddy Button -->
                                <button type="button" class="dine-buddy-button" data-id="{{ restaurant.RId }}" data-name="{{ restaurant.name }}">
                                    <img src="{% static 'images/dine-buddy-icon.png' %}" alt="Dine Buddy Icon">
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No liked restaurants to display.</p>
            {% endif %}
        
        </section>
    </div>
</div>

<script src="../static/js/profile.js"></script>

{% endblock %}