{% extends "base.html" %}
{% load static %}
{% load dict_filter %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Feed{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\feed.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\dine_buddy.css' %}">
    <script src="{% static 'js/like-dislike.js' %}" defer></script>
    <script src="{% static 'js/bookmark.js' %}" defer></script>
    <script src="{% static 'js/dine_buddy.js' %}" defer></script>
    <script src="{% static 'js/dropDownFilters.js' %}" defer></script>
    <script src="{% static 'js/ajax.js' %}" defer></script>
</head>

<div class="restaurant-wrapper">
    <section class="cards">
        <!-- {% for restaurant in page_object %} -->
            <!-- indiviual restaurant card -->
            <div class="restaurant-card">
                <div class="restaurant-details">
                    <h4><b>{{ restaurant.name }}</b></h4>
                    <p>Liked by {{ restaurant.get_total_likes }} users.</p>
                </div>
                <!-- Restaurant Image -->
                {% if restaurant.get_img_urls_list %}
                        <img src="{{ restaurant.get_img_urls_list.0 }}" alt="{{ restaurant.name }}" class="restaurant-img">
                    {% else %}
                        <img src="{% static 'images/default_restaurant.jpeg' %}" alt="restaurant-img">
                    {% endif %}

                    
                <div class="restaurant-interactions">

                    <div class="grouped-features">
                        <!-- Like Button -->
                        <button type="button" 
                        class="like-button" 
                        data-id="{{ restaurant.RId }}"
                        data-status="{% if interaction_status|get_item:restaurant.RId == True %}liked{% endif %}">
                            <img src="{% static 'images/thumbs-up.png' %}" alt="Thumbs Up Icon">
                        </button>

                        <!-- Dislike Button -->
                        <button type="button" 
                        class="dislike-button" 
                        data-id="{{ restaurant.RId }}"
                        data-status="{% if interaction_status|get_item:restaurant.RId == False %}disliked{% endif %}">
                            <img src="{% static 'images/thumbs-down.png' %}" alt="Thumbs Down Icon">
                        </button>                      
                    </div>

                    <div class="grouped-features">
                        <!-- Save Button -->
                        <!-- <button type="button" class="bookmark-button" data-id="{{ restaurant.RId }}">
                            <img src="{% static 'images/bookmark.png' %}" alt="Bookmark Icon" class="bookmark">
                        </button> -->
                        <button type="button" 
                            class="bookmark-button" 
                            data-id="{{ restaurant.RId }}"
                            data-status="{% if saved_status|get_item:restaurant.RId %}bookmarked{% else %}not-bookmarked{% endif %}">
                            <img src="{% if saved_status|get_item:restaurant.RId %}{% static 'images/bookmarked.png' %}{% else %}{% static 'images/bookmark.png' %}{% endif %}" alt="Bookmark Icon" class="bookmark">
                        </button>
                        <!-- Dine Buddy Button -->
                        <button type="button" class="dine-buddy-button" data-id="{{ restaurant.RId }}" data-name="{{ restaurant.name }}"
                        data-is-auth="{{ user.is_authenticated }}" data-login="{{ login_redirect }}">
                            <img src="{% static 'images/dine-buddy-icon.png' %}" alt="Dine Buddy Icon">
                        </button>
                    </div>

                </div>
            </div>
        <!-- {% endfor %} -->
    </section>
</div>

{% endblock %}